.slide_card {
  height: 250px !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px !important;
}

.review_swiper {
  padding: 40px 0 !important;
}

.swiper_wrapper {
  margin: auto !important;
  width: 90% !important;
  position: relative !important;
}

.slide_name {
  font-size: calc(0.5rem + 1vw) !important;
}

.slide_p {
  font-size: 16px !important;
}

.custom_nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: var(--primary);
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.custom_nav:hover {
  background: #ff7a35; /* lighter shade */
}

.prev_btn {
  left: 20px;
}

.next_btn {
  right: 20px;
}

@media screen and (max-width: 576px) {
  .swiper_wrapper {
    margin: auto !important;
    width: 70% !important;
    position: relative !important;
  }

  .slide_name {
    font-size: calc(0.7rem + 1vw) !important;
  }
  .slide_p {
    font-size: calc(0.5rem + 1vw) !important;
  }
  .review_swiper {
    padding: 25px 0 !important;
  }
}
