.offer_banner {
  width: 100%;
  height: 400px; /* adjust as you need */
  background-image: url("../../../../assets/images/quote_banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* important for the overlay */
  border-radius: 30px;
}

/* Dark overlay */
.offer_banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.offer_content {
  position: relative;
  z-index: 2;
  text-align: center;
  width: 80%;
}

.offer_content h1 {
  color: white;
  font-size: 40px;
  font-weight: 600;
}

/* wrapper */

.circle_wrap {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.circle_wrap::after {
  content: "";
  background-image: url("../../../../assets/images/circle.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 140px;
  height: 90px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.offer_btn {
  text-transform: uppercase !important;
  background-color: var(--primary) !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  border-radius: 30px !important;
  padding: 14px 40px !important;
  color: var(--white) !important;
  letter-spacing: 0.5px !important;
  margin-top: 40px !important;
}

@media screen and (max-width: 576px) {
  .circle_wrap::after {
    content: "";
    background-image: url("../../../../assets/images/circle.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 90px;
    height: 90px;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .offer_content h1 {
    font-size: 25px;
  }

  .offer_btn {
    text-transform: uppercase !important;
    background-color: var(--primary) !important;
    text-wrap: nowrap !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    border-radius: 20px !important;
    padding: 10px 30px !important;
    color: var(--white) !important;
    letter-spacing: 0.5px !important;
    margin-top: 40px !important;
  }
}
