.banner_section {
  width: 100%;
  height: 500px; /* adjust as you need */
  background-image: url("../../../../../assets/images/about/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* important for the overlay */
}

/* Dark overlay */
.banner_section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.banner_content {
  width: 100% !important;
  position: relative;
  z-index: 2;
  text-align: center;
  height: 500px;
}

.banner_content h1 {
  position: absolute;
  z-index: 2;
  text-align: center;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--white);
}

.banner_content h6 {
  position: absolute;
  z-index: 2;
  top: 83%;
  right: 0%;
  color: var(--white);
}

.banner_content h6 a {
  text-decoration: none !important;
  color: var(--white);
}

.banner_content h6 a:hover {
  text-decoration: none !important;
  color: var(--primary);
}

@media screen and (max-width: 992px) {
  .banner_content h1 {
    position: absolute;
    z-index: 2;
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white);
  }

  .banner_content h6 {
    position: absolute;
    z-index: 2;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white);
  }
}

@media screen and (max-width: 768px) {
  .banner_content h6 {
    position: absolute;
    z-index: 2;
    top: 90%;
    left: 0%;
    transform: translateX(0%);
    color: var(--white);
    text-align: center;
  }
}


@media screen and (max-width: 576px) {
  .banner_content h1 {
    position: absolute;
    z-index: 2;
    text-align: center;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white);
  }

  .banner_content h6 {
    position: absolute;
    z-index: 2;
    top: 90%;
    left: 0%;
    transform: translateX(0%);
    color: var(--white);
    text-align: center;
  }
}