.group_img_div {
  width: 90%;
  height: auto;
  margin: 30px auto;
}

.group_img_div img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 576px) {
  .group_img_div {
    width: 100%;
    height: auto;
    margin: 30px auto;
  }

  .group_img_div img {
    width: 100%;
    height: 100%;
  }
}
