.hero_section {
  width: 100%;
  background-image: url("../../../../assets/images/paper.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 650px;
  overflow: visible;
  z-index: 1 !important;
}

.hero_section_content {
  width: 70%;
  padding-left: 90px !important;
}

.home_title {
  font-size: calc(1.7rem + 1vw) !important;
  font-weight: 700;
}

.home_p {
  font-size: calc(0.7rem + .9vw) !important;
}

.hero_btn {
  border-radius: 30px !important;
  padding: 10px 30px !important;
  font-size: 17px !important;
  font-weight: 500 !important;
}

/* hero img left */
.img_div_6 {
  width: 100%;
  width: auto;
  position: absolute;
  top: 15%;
  left: -30px;
  z-index: -1;
}
.img_div_6 img {
  width: 100%;
  width: auto;
  object-fit: cover;
}

/* hero img bottom */

.vector_bg {
  position: absolute;
  background-image: url("../../../../assets/images/hero_vector.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  bottom: 0;
  left: 70%;
  transform: translateX(-70%);
  width: 380px;
  height: 160px;
  z-index: -1;
}

.img_div_1 {
  width: 150px;
  height: auto;
  position: absolute;
  left: 5%;
  bottom: 0;
  z-index: -1;
}

.img_div_1 img {
  width: 150px;
  height: auto;
}

.img_div_2 {
  width: 150px;
  width: 150px;
  position: absolute;
  right: 10%;
  bottom: 0;
  z-index: -1;
}

.img_div_2 img {
  width: 150px;
  width: 150px;
}

.img_div_3 {
  width: auto;
  height: 150px;
  position: absolute;
  top: 15%;
  right: 0;
  z-index: -1;
}

.img_div_3 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img_div_5 {
  width: auto;
  height: 150px;
  position: absolute;
  top: 35%;
  right: 3%;
  z-index: -1;
}

.img_div_5 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img_div_4 {
  width: auto;
  height: 150px;
  position: absolute;
  top: 55%;
  right: 0;
  z-index: -1;
}

.img_div_4 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 992px) {
  .hero_section_content {
    width: 90%;
    padding-left: 30px !important;
  }

  /* hero section left */

  .img_div_6 {
    width: 100px;
    position: absolute;
    top: 15%;
    left: -30px;
    z-index: -1;
  }

  .img_div_6 img {
    width: 100%;
    object-fit: cover;
  }

  /* hero img bottom */

  .vector_bg {
    position: absolute;
    background-image: url("../../../../assets/images/hero_vector.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    bottom: 0;
    left: 70%;
    transform: translateX(-70%);
    width: 280px;
    height: 110px;
    z-index: -1;
  }

  .img_div_1 {
    width: 110px;
    height: auto;
    position: absolute;
    left: 5%;
    bottom: 0;
    z-index: -1;
  }

  .img_div_1 img {
    width: 100%;
    height: auto;
  }

  .img_div_2 {
    width: 110px;
    position: absolute;
    right: 10%;
    bottom: 0;
    z-index: -1;
  }

  .img_div_2 img {
    width: 110px;
  }

  /* right */

  .img_div_3 {
    width: auto;
    height: 110px;
    position: absolute;
    top: 15%;
    right: 0;
    z-index: -1;
  }

  .img_div_3 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .img_div_5 {
    width: auto;
    height: 110px;
    position: absolute;
    top: 28%;
    right: 3%;
    z-index: -1;
  }

  .img_div_5 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .img_div_4 {
    width: auto;
    height: 110px;
    position: absolute;
    top: 45%;
    right: 0;
    z-index: -1;
  }

  .img_div_4 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 576px) {
  .hero_section {
    width: 100%;
    background-image: url("../../../../assets/images/paper.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 600px;
    overflow: visible;
    z-index: 1;
  }

  .hero_section_content {
    width: 90%;
    padding-left: 10px !important;
  }

  /* hero section left */

  .img_div_6 {
    width: 60px;
    position: absolute;
    top: 15%;
    left: -30px;
    z-index: -1;
  }

  .img_div_6 img {
    width: 100%;
    object-fit: cover;
  }

  /* hero img bottom */

  .vector_bg {
    position: absolute;
    background-image: url("../../../../assets/images/hero_vector.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    bottom: 0;
    left: 70%;
    transform: translateX(-70%);
    width: 230px;
    height: 90px;
    z-index: -1;
  }

  .img_div_1 {
    width: 90px;
    height: auto;
    position: absolute;
    left: 5%;
    bottom: 0;
    z-index: -1;
  }

  .img_div_1 img {
    width: 100%;
    height: auto;
  }

  .img_div_2 {
    width: 90px;
    position: absolute;
    right: 10%;
    bottom: 0;
    z-index: -1;
  }

  .img_div_2 img {
    width: 100%;
  }

  /* right */

  .img_div_3 {
    width: auto;
    height: 70px;
    position: absolute;
    top: 15%;
    right: 0;
    z-index: -1;
  }

  .img_div_3 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .img_div_5 {
    width: auto;
    height: 80px;
    position: absolute;
    top: 24%;
    right: 3%;
    z-index: -1;
  }

  .img_div_5 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .img_div_4 {
    width: auto;
    height: 70px;
    position: absolute;
    top: 37%;
    right: 0;
    z-index: -1;
  }

  .img_div_4 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .hero_btn {
    border-radius: 30px !important;
    padding: 10px 30px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
  }
}

@supports (-webkit-touch-callout: none) {
  .img_div_3,
  .img_div_4,
  .img_div_5 {
    transform: translateZ(0) !important;
    will-change: transform !important;
  }
}
