.client_section {
  width: 100%;
  height: 100%;
  position: relative !important;
  z-index: 1;
}

.client_swiper_section {
  background-color: #fafafb;
  z-index: 100 !important;
}

.client_logo_div {
  width: 150px;
  height: 70px;
  margin: 0 auto;
}

.client_logo_div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.client_slide {
  margin: 40px auto !important;
}

.circle_img {
  width: fit-content;
  height: auto;
  position: absolute !important;
  top: 0%;
  left: 100%;
  transform: translateX(-80%);
  z-index: 2 !important;
}

.circle_img img {
  width: fit-content;
  height: auto;
}

.client_side_img_div{
  width: 80%;
  height: auto;
  margin-top: 20px;
}

.client_side_img_div img{
  width: 100%;
  height: auto; 
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .client_h4 {
    font-size: calc(0.9rem + 1vw) !important;
  }

  .client_p {
    font-size: calc(0.5rem + 1vw) !important;
  }
}
