.home_section {
  width: 100%;
  background-image: url("../../../../assets/images/paper.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 750px;
  overflow: visible;
}

.top_home {
  width: 100% !important;
  height: 90px !important;
}

.home_title {
  font-size: calc(1.8rem + 1vw) !important;
  padding-top: 8%;
  font-weight: 600;
}

.home_p {
  font-size: calc(0.6rem + 1vw) !important;
}

.banner_img_div {
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  display: flex;
  justify-content: center;
  pointer-events: none; /* optional */
}

.banner_img_div img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .home_section {
    height: 600px;
  }

  /* .home_title {
    font-size: 40px;
    padding-top: 8%;
    font-weight: 600;
    text-transform: uppercase;
  } */
}

@media screen and (max-width: 768px) {
  .home_section {
    height: 500px;
  }

  .home_title {
    font-size: calc(1.2rem + 1vw) !important;
    padding-top: 14%;
    font-weight: 600;
  }
}

@media screen and (max-width: 600px) {
  .home_section {
    height: 450px;
  }
}

@media screen and (max-width: 576px) {
  .home_section {
    height: 450px;
  }

  .home_title {
    font-size: calc(1.2rem + 1vw) !important;
    padding-top: 14%;
    font-weight: 600;
  }

  .banner_img_div {
    bottom: -15%;
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .home_section {
    height: 450px;
  }

  .home_title {
    font-size: calc(1.2rem + 1vw) !important;
    padding-top: 28%;
    font-weight: 600;
    text-transform: uppercase;
  }

  .top_home {
    width: 100% !important;
    height: 60px !important;
  }

  .banner_img_div {
    bottom: -10%;
    width: 90%;
  }
}
