.nav {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  /* background: var(--white); */
  /* border: 1px solid var(--gray); */
  /* border-radius: 5px; */
  z-index: 999 !important;
  /* max-width: 1320px; */
  width: 100%;
  transition: all 0.4s ease;
}

.move_down {
  top: 0px;
  left: 50%;
  transform: none;
  max-width: 100%;
  transform: translateX(-50%);
  width: 100%;
  border-radius: 0;
}

.nav_logo {
  width: 200px;
  height: auto;
}

.nav_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav_ul {
  display: flex;
  list-style: none !important;
  padding-left: 0px !important;
  margin-bottom: 0px !important;
}

.nav_ul li,
.nav_ul li a {
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 16px !important;
  font-weight: 500;
  padding: 20px 20px;
  /* color: var(--black); */
  cursor: pointer;
}

.nav_ul li:hover,
.nav_ul li a:hover {
  text-transform: uppercase;
  font-size: 16px !important;
  font-weight: 500;
  color: var(--primary);
  padding: 20px 20px;
  cursor: pointer;
}

/* hoverable dropdown */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 250px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  z-index: 999;
  padding: 5px;
}

.dropdown_content a {
  font-size: 14px;
  padding: 10px 10px 10px 15px;
  display: block;
  color: black;
  text-decoration: none;
}

.dropdown_content a:hover {
  background-color: var(--white);
  color: var(--primary);
}

/* SHOW ON HOVER */
.dropdown:hover .dropdown_content {
  display: block;
}

/* signin button */

.signin_btn {
  padding: 13px 30px;
  border-radius: 30px;
  border: 1px solid var(--primary);
  color: var(--primary);
  background-color: var(--white);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

/* hamburger */

/* Default: show desktop menu */
.desktop_menu {
  display: flex;
}

/* Mobile hamburger */
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Mobile menu container */
.mobile_menu {
  display: none;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mobile_menu ul {
  list-style: none;
  padding: 0;
  margin: 0 !important;
}

.mobile_menu li {
  padding: 12px 20px;
  border-bottom: 1px solid #eee;
}

.mobile_menu li a {
  color: var(--black);
  text-decoration: none;
  font-size: 16px;
  display: block;
}

/* Mobile dropdown inside menu */
.mobile_dropdown a {
  display: block;
  padding: 10px 20px;
  color: var(--black);
}

summary {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 16px !important;
  padding: 12px 20px;
}

/* Responsive Breakpoint */
@media (max-width: 992px) {
  .nav_logo {
    width: 160px;
    height: auto;
  }
  .mobile_menu {
    display: block;
    width: 100%;
    background: var(--white);
    padding: 15px 0;
    border-top: 1px solid #ddd;
    animation: slideDown 0.3s ease forwards;
  }

  .desktop_menu {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .nav {
    position: fixed;
    /* top: 40px !important; */
    left: 50%;
    transform: translateX(-50%);
    /* background: var(--white); */
    /* border: 1px solid var(--gray); */
    border-radius: 0 !important;
    z-index: 999 !important;
    max-width: 100% !important;
    width: 100%;
    transition: all 0.4s ease;
  }
}

@media (max-width: 576px) {
  .desktop_menu {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .nav {
    position: fixed;
    /* top: 40px !important; */
    left: 50%;
    transform: translateX(-50%);
    background: var(--white);
    /* border: 1px solid var(--gray); */
    border-radius: 0 !important;
    z-index: 999 !important;
    max-width: 100% !important;
    width: 100%;
    transition: all 0.4s ease;
  }
}

@media screen and (max-width: 400px) {
  .nav {
    position: fixed;
    /* top: 20px !important; */
    left: 50%;
    transform: translateX(-50%);
    background: var(--white);
    /* border: 1px solid var(--gray); */
    /* border-radius: 5px; */
    z-index: 999 !important;
    /* max-width: 1320px; */
    width: 100%;
    transition: all 0.4s ease;
  }

  .nav_logo {
    width: 120px;
    height: auto;
  }

  .nav_logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
