.about_img_div {
  width: 100%;
  height: auto;
  z-index: 4 !important;
  position: relative;
}

.about_section {
  position: relative;
}

.about_img_div img {
  width: 100%;
  height: auto;
}

.about_content {
  width: 135%;
  height: auto;
  background-color: #f3f3f7;
  position: relative;
  left: -35%;
  top: 10%;
  z-index: 0 !important;
  padding: 50px 40px;
}

@media screen and (max-width: 1200px) {
  .about_content {
    width: 135%;
    height: auto;
    background-color: #f3f3f7;
    position: relative;
    left: -35%;
    top: 5%;
    z-index: 0 !important;
    padding: 20px 20px;
  }
}

@media screen and (max-width: 992px) {
  .banner_content h1 {
    position: absolute;
    z-index: 2;
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white);
  }

  .banner_content h6 {
    position: absolute;
    z-index: 2;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white);
  }
}

@media screen and (max-width: 768px) {
  .banner_content h6 {
    position: absolute;
    z-index: 2;
    top: 90%;
    left: 0%;
    transform: translateX(0%);
    color: var(--white);
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .banner_content h1 {
    position: absolute;
    z-index: 2;
    text-align: center;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white);
  }

  .banner_content h6 {
    position: absolute;
    z-index: 2;
    top: 90%;
    left: 0%;
    transform: translateX(0%);
    color: var(--white);
    text-align: center;
  }
}
