.partner_banner {
  width: 100%;
  height: 400px; /* adjust as you need */
  background-image: url("../../../../assets/images/about/partner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* important for the overlay */
  border-radius: 30px;
}

/* Dark overlay */
.partner_banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.partner_content {
  position: relative;
  z-index: 2;
  text-align: center;
  width: 80%;
}

.partner_content h1 {
  color: white;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 30px;
}

.partner_content p {
  color: white;
  font-size: 16px;
  font-weight: 400;
}


.partner_btn {
  text-transform: uppercase !important;
  background-color: var(--primary) !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  border-radius: 30px !important;
  padding: 12px 25px !important;
  color: var(--white) !important;
  letter-spacing: 0.5px !important;
  margin-top: 40px !important;
}
